:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

/* Typography */
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
}

h1.h2,
h3 {
  color: var(--color-heading);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  margin-top: 0rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.arrow-link {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.arrow-link::after {
  content: "-->";
  margin-left: 6px;
  transition: margin 0.25s;
}

.arrow-link:hover::after {
  margin-left: 12px;
}

@media screen and (min-width: 1024px) {
  .arrow-link {
    font-size: 1.4rem;
  }
}

/* List */
.list {
  color: var(--color-heading);
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

@media screen and (min-width: 1024px) {
  .list__item {
    padding-left: 0;
  }
}

/* Badges */
.badges {
  border-radius: 20rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge-primary {
  background: var(--color-primary);
  color: white;
}

.badge-secondary {
  background: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Button */
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secodary {
  background: var(--color-secondary);
  color: white;
}

.btn--secodary:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  background: #ec3000;
}
.btn--block {
  width: 100%;
}

/* Icons */
.icon{
  width: 50px;
  height: 50px;
}